create table if not exists public.weekly_insights ( id uuid default gen_random_uuid() primary key, week_start_date date not null, dms_made integer default 0, dm_reply_rate numeric default 0, positive_replies integer default 0, meetings integer default 0, proposals integer default 0, deals integer default 0, revenue numeric default 0, delivery_time_days numeric default 0, profit_per_project numeric default 0, created_at timestamp with time zone default timezone('utc'::text, now()) );
